# Flutter/Dart
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
*.g.dart

# Android
android/.gradle
android/app/google-services.json
android/captures/
android/local.properties
android/key.properties
*.jks

# iOS
ios/.symlinks/
ios/Pods/

# Secrets
dart_defines.env
*.env
!.env.example